.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    row-gap: 3vh;
  }

  &__list {
    margin-top: -15vh;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 0;
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    height: 7rem;
    border-radius: 50%;
    display: block;
    border: 2px solid $color-primary-dark;

    @media only screen and (max-width: $bp-medium) {
      height: 5rem;
    }
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
